FORMAT: 1A
HOST: http://taxibye.oddesign.expert/api/v1/

# TaxiBye

TaxiBye 是一個可以記錄計程車行車路徑，並給予評價紀錄的 APP。使用者可以在告訴應用程式所搭計程車的車牌之後，開始記錄行車資料，並在結束時給予此計程車一個評分。

----

Change Log:

  - 2017.01.25 - 新增基本 API
  - 2017.02.02 - 新增 Authorization
  - 2017.02.09 - 更新 Authorization

----

# Group Authorization

## 登入 [/authenticate]

使用 API 前要先透過這個 endpoint 取得 JWT，其他所有 endpoint 都必須在 Header 帶入 JWT 以驗證身份。

Api Key 和 Device ID 一定要提供，用來驗證 Client 端身份與紀錄未註冊使用者的 Device ID。當使用者需要登入認證身份時同樣透過這個 endpoint，在 body 額外提供 email 和 password 即可。

### Authenticate [POST]

+ Request (application/json)

    + Headers

            ApiKey: 15a6bf35-a455-4108-87d4-b669eb76e987
            DeviceID: 15a6bf35-a455-4108-87d4-b669eb76ea58

    + Attributes
      + data (Email Login Info)

+ Response 202 (application/json)

    + Attributes
      + data (Login Success Response)
      + errors (array)
      + meta (object)





# Group Taxis

## 積分排行 [/taxis/ranking{?number}]

列出計程車的積分排行。可指定數量上限。

### fetch ranking list [GET]

+ Parameters
    + number: 5 (string, optional) - 限制回傳的數量上限
      如果沒給值的話預設會回傳 10 筆資料
      + Default: `10`

+ Response 200 (application/json)

    + Attributes
      + data (array[Taxi Info])
      + errors (array)
      + meta (object)



## Taxi 查詢 [/taxis/{license_plate_number}{?ratingsCount}]

### fetch Taxi detail info [GET]

+ Parameters
    + ratingsCount: 10 (string, optional) - 指定回傳的 ratings 數量
      如果沒給值的話預設會回傳 5 筆資料
      + Default: `10`

+ Response 200 (application/json)

    + Attributes
      + data (Taxi Info)
          + relationships (object)
            + ratings (object)
              + data (array)
                + id: 1 (number)
                + type: `ratings` (string)
          + included (array[Rating Info])
      + errors (array)
      + meta (object)
        + totalRatingsCount: 22 (number) - 總評價數




## 車牌查詢 [/taxis/{license_plate_number}/query]

透過車牌查詢計程車的基本資料。

### query taxi by license plate number [POST]

+ Response 200 (application/json)

    + Attributes
      + data (Taxi Info)
      + errors (array)
      + meta (object)



## 行程紀錄 [/taxis/{license_plate_number}/trips]

### create a trip record [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjF9.d8nHlCSuxGZJhvxktOd9beAW0YBsB6PNcTtr-M36XoE
            DeviceID: 15a6bf35-a455-4108-87d4-b669eb76ea58

    + Attributes
      + data (Trip Info)

+ Response 201 (application/json)

    + Attributes
      + data (Trip Created Response)
      + errors (array)
      + meta (object)

# Group Trip

## 取得 Feeling 列表 [/trips/feelings]

### fetch trip feeling list [GET]

+ Response 200 (application/json)

    + Attributes
      + data (array[Trip Feeling])
      + errors (array)
      + meta
        + count: `1` (number) - 總數
        + listUpdatedAt: `1486367282` (number) - 最後更新時間

## Data Structures

### Email Login Info
+ email: `test@pricetagapp.com` (string, required) - 使用者 Email
+ password: `09sad8f9lk12` (string, required) - 使用者密碼

### Trip Info
+ startedAt: `1486364960` (number, required) - 行程開始時間
+ endedAt: `1486367282` (number, required) - 行程結束時間
+ route: `kasjdkljsadkljaskdj` (string, required) - 航跡檔（GPX）
+ ratingAttributes (Rating Request Data) - 評價內容

### Trip Created Response
+ taxi (Taxi Info)
+ trip (Trip Info)

### Trip Feeling
+ id: `1` (number, required)
+ title: 'fine' (string, required)

### Rating Request Data
+ score: `4` (number, required) - 評分，請給整數
+ message: `最快最趴最大` (string, optional) - 留言
+ tripFeelingId: `1` (number, required) - 行程感受選項

### Rating Info
+ id (number)
+ attributes (object)
  + score: `5.0` (string)
  + message: `還可以` (string)
  + tripFeeling: `fine` (string)
  + updatedAt: 1486459669 (number)

### Login Success Response
+ authToken: `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjF9.d8nHlCSuxGZJhvxktOd9beAW0YBsB6PNcTtr-M36XoE` (string, required) - JWT


###Taxi Ranking List
+ taxis (array[Taxi Info])

### Taxi Info
+ id: `7788-KM` (string, required) - PK
+ type: `taxis` (string, required) - resource type
+ attributes (object, required)
  + plateNumber: `7788-KM` (string, required) - 車牌號碼
  + driver: `木村` (string, optional) - 駕駛人
  + avgRating: `1.8` (number, required) - 平均評分
  + updatedAt: `1486367282` (number, required) - 更新時間
